@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

html {
	font-size: 62.5%;
}

.container {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #2e333f;
}

.card {
	width: 50rem;
}

.card-box {
	padding: 40px;
	display: flex;
	position: relative; 
	border-radius: 15px 15px 0 0;
	z-index: 100;
	background-image: linear-gradient(#9ec14c, #41b14f);
}

.image {
	width: 80px;
	height: 80px;
	margin-right: 15px;
}

.image img {
	widows: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}

.board-data {
	width: 60%;
	color: #fff;
	text-shadow: 0 0.1 1rem 0.2rem #0000004d;
}

.board-data h3 {
	margin-bottom: 1rem;
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
}

.board-data p {
	font-size: 1.8rem;
}

.card-btn {
	width: 20rem;
	height: 6rem;
	position: absolute;
	bottom: -2.5rem;
	right: 14rem;
	color: #fff;
	font-size: 23px;
	text-transform: uppercase;
	outline: transparent;
	border: transparent;
	border-radius: 13px;
	box-shadow: 0 0.3rem 0.8rem #2525254d;
	background-image: linear-gradient(#17cccd, #43b141);
	cursor: pointer;
	transition: all 0.5s;
}

.change .card-btn {
	width: 6rem;
	bottom: -3rem;
	right: 3rem;
	border-radius: 50%;
}

.card-btn-contact {
	transition: all 0.5s 0.1s;
}

.card-btn-contact, .card-btn i {
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.change .card-btn-contact {
	opacity: 0;
	visibility: hidden;
	transition: all 0.1s;
}

.card-btn i {
	opacity: 0;
	visibility: hidden;
}

.change .card-btn i {
	opacity: 1;
	visibility: visible;
	transition: all 0.5s;
}

.card-contact {
	padding: 1.5rem 2rem;
	color: #fff;
	background: #207540;
	transition: all 0.5s;
	transform: translateY(-100%);
}

.change .card-contact {
	transform: translateY(0);
}

.card-contact h4 {
	font-size: 18px;
	text-transform: uppercase;
	text-shadow: 0 0.1rem 0.2rem #0000004d;
	transition: all 0.5s;
	transform: scale(0);
	transform-origin: left;
}

.change .card-contact h4 {
	transform: scale(1);
}

.social-info {
	padding: 15px;
	margin: 15px 0;
	display: flex;
	align-items: center;
	border-radius: 20px;
	background: #fff;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-50%);
}

.github {
	transition: all 0.5s 0.3s;
}

.linkedin {
	transition: all 0.5s 0.5s;
}

.twitter {
	transition: all 0.5s 0.7s;
}

.change .social-info {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.icon-wrapper {
	width: 40px;
	height: 40px;
	margin-right: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 2rem;
	border-radius: 50%;
}

.github .icon-wrapper {
	background: #dd4b39;
}

.linkedin .icon-wrapper {
	background: #007226;
}

.twitter .icon-wrapper {
	background: #3b5998;
}

.social-details h4 {
	margin-bottom: 4px;
	font-size: 17px;
}

.github h4 {
	color: #dd4b39;
}

.linkedin h4 {
	color: #007226;
}

.twitter h4 {
	color: #3b5998;
}

.social-details a {
	color: #747474;
	font-size: 15px;
}

.social-info span {
	margin-left: auto;
	color: #999;
	font-size: 2rem;
	font-weight: bold;
}